<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>メモ帳アプリ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="bg-gray-100 font-sans p-5">
  <%= yield %>
</body>
</html>
